.login-form1{
  background-color:whitesmoke;
  max-width:300px;
  padding:2px;
  margin-left: 65% ;
  margin-top: 22%;
  height: 150%;
  color:rgb(7, 7, 7);
  border-radius: 20px;
  position:relative;
}

.login-form{
  background-color:whitesmoke;
  max-width:300px;
  padding:15px;
  margin:auto;
  margin-top: 5%;
  height: 150%;
  color:black;
}

.login-form-patient{
  background-color:whitesmoke;
  max-width:300px;
  padding:15px;
  margin:auto;
  margin-top: 5%;
   color:black;
}


.login-form-APP{
  background-color:whitesmoke;
  max-width:300px;
  padding:15px;
  margin:auto;
  margin-top: 5%;

  color:black;
}

.login-form-doctor{
  background-color:whitesmoke;
  max-width:300px;
  padding:30px;
  margin:auto;
  margin-left: 70%;
  color:black;
  height: 100;
}


.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 50%;
  height: 50%;
}
div.c {
  text-indent: 200px;
}
div.b {
  text-indent: 30px;
}
.login-label{
  margin-left:4px;
}

.add-label{
  margin-left:4px;
  margin-right: 10px;
  color:#32cd32;
}

.register-label{
  margin-left:4px;
  color:red
}

.span{
  align-content: center;
}

.buttonNotification {
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  color:white;
  background-color:#32cd32;
  border:none;
  margin-left: 2px;
}

.register-form{
  background-color:whitesmoke;
  max-width:500px;
  padding:15px;
  margin:auto;
  height: 150%;
  color:black;
  margin-left: 57%;
}
.register-form2{
  background-color:whitesmoke;
  max-width:500px;
  padding:15px;
  margin-left:623px;
  height: 150%;
  color:black;
}

.blank-label{
  color:white
}

.search-form{
  max-width:700px;
  padding:15px;
  margin-left:20px;
  height: 150%;
  color:black;
  background-color: transparent;
}

.active-form{
  max-width:300px;
  padding:15px;
  margin-left:20px;
  height: 150%;
  color:black;
}
.button3 {
  display: inline-block;
  align-self:center;
  margin-left: 50%;
  margin-top:1%;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#008000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button2{
  border-radius:50%;
  background-color:#B22222;
  color:#fff;
  outline:none;
  cursor:pointer;
  text-align:center;
  font-size:18px;
  border:none;
  margin:20px;
  box-shadow: 0 9px #999;
}

.jumbotron{
  
    background: url('./Images/drug.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 
}
.cardW{
  width: 30%;
  margin: auto;
  margin-top:7%;
}

.cardW-Patient{
  width: 30%;
  margin: auto;
  margin-left: 66%;
}

.cardW-doctor{
  width: 30%;
  margin: auto;
  
  margin-left: 66%
}

.register-formm{
  background-color:whitesmoke;
  max-width:500px;
  padding:15px;
  margin:auto;
  height: 150%;
  color:black;
}



/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.error-message {
  color: red;
  font-weight: bold;
}


p {
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  
}
.imgg{
  padding: auto;
  width: 60%;
  height: 100%;
  position: absolute;
}
.imgg-home{
  padding: auto;
  width: 25%;
  height: 25%;
  position: relative;
  margin-top: 20%;
  margin-left: 70%;
}
.align-text{
  width: 120%;
  margin-top: 5%;
  margin-left: 95%;
}
.imgg-app{
  padding: auto;
  width: 70%;
  height: 120%;
  position: absolute;
}
.imggg{
  width: 50%;
  height: 50%;
  align-items: center;
  margin-left: 27%;
}

.imgApp{
  width: 80%;
  height: 80%;
  align-items: center;
  margin-left: 7%;
}

.imgPatient{
  width: 70%;
  height: 70%;
  align-items: center;
  margin-left: 14%;
}
.imgggg{
  width: 70%;
  height: 70%;
  align-items: center;
  margin-left: 17%;
}
.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: 
      url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.logo-container {
  height: 100%;
  width: 80%;
  display: flex;
  position:absolute;
}
.logo-container-home {
  height: 100%;
  width: 100%;
  display: flex;
  position:absolute;
}
.logo-container-register {
   display: flex;
   position:absolute;
 }

.login-header{
  margin-top:7%;
  align-items: center;
  margin-right: 10%;
  margin-left: 80%;
}
.login-header-home{
  margin-top:7%;

  margin-right: 10%;
  margin-left: 10%;
}
.input {
  border: 1px solid rgb(229, 225, 225 );
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  height:50%;
  width: 100%;
}
.align{
  align-items: center;
  margin-left: 72%;
}